p, h3, h6, input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}


.titulos{
    text-align: center;    
}

input{
    width: 98%;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    width: 30%;
    height: 100%;

}

.boton{
    margin-top: 20%;
    margin-left: -4%;
}